body {
  background-color: white;
}
img {
  background-color: white;
}
.App{
  text-align: center;
  text-align: -webkit-center;
}
.forms{
  font-weight: bold;
}
form input{
  border-radius: 5px;
}
.btn{
  width: 16%;
}
.heading{
  color: rgb(46, 127, 127);
}